.contenido {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    justify-content: flex-end;
    padding: 5vw 10vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}