.contenido {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    justify-content: flex-end;
    padding: 5vw 10vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.titulo-5 p {
    font-size: 4vh;
    font-family: "Audiowide", sans-serif;
    color: #FE7300;
    background: transparent;
    border: 0;
    font-weight: 300;
}

.feature p img {
    width: 10vw;
    height: auto;
}

.design-5 {
    min-width: 40vw;
    text-align: left;
}

.descripcion-5 p {
    font-size: 2vh;
    line-height: 1.6;
    color: #e5e7eb;
    /* font-size: 1.4rem; */
}

.titulo-feature {
    font-size: 3vh;
    font-family: "Audiowide", sans-serif;
    color: #001B3D;
    background: transparent;
    border: 0;
    font-weight: 300;
    text-align: center;
}

.border-feature {
    width: 10vw;
    height: 10px;
    background-color: #FE7300;
}

.feature {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.asistencia {
    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.asistencia .titulo {
    color: #FE7300;
    font-size: 3vh;
}

.asistencia .descripcion{
    color: white;
    font-family: "Audiowide", sans-serif;
    font-size: 4vh;
}